/* @import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..350;1,100..700&family=Protest+Riot&family=Stalematewght@0,100..350&display=swap"); */

@font-face {
  font-family: headingFont;
  src: url(./fonts/black-mango-font-modern-beauty-family/black-mango-font-modern-beauty-family/Variable/BlackMangoVariableGX.ttf);
}
@font-face {
  font-family: headingFont-semiBold;
  src: url(./fonts/black-mango-font-modern-beauty-family/black-mango-font-modern-beauty-family/TTF/BlackMango-SemiBold.ttf);
}
@font-face {
  font-family: contentFont;
  src: url(./fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}
body {
  margin: 0;
  font-family: contentFont;
  -webkit-font-smoothing: contentFont;
  -moz-osx-font-smoothing: contentFont;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f1ebeb;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
  --button-color: #a9b9be;
}
.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}
.btn-github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}
.btn-github:hover {
  color: var(--github);
  background-color: var(--white);
}

.btn--footer {
  background-color: var(--bg-shade);
  color: black;
  border: none;
}
.logo {
  cursor: pointer;
}
/* Global CSS Ends */
/* Main Headings */

/* Heading 1 */
h1 {
  font-family: headingFont;
  font-size: 56px;
  font-weight: 500;
  line-height: 67px;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* Heading 3 */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
/* Pragraphs text large medium small */
/* Body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* Body 2 */
.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* Body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Section Titles */
/* Skills & About Me */
.skills-section--heading {
  padding: 0px;
  color: black;
}
.section--title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}
/* Portfolio, Testimonial & Contact Me */
.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
/* Section Titles Ends */

/* Navbar Style Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  background-color: var(--bg-shade);
  box-shadow: 0px 10px 26px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 42.667px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}
/* Navbar Content */
.navbar--content {
  color: var(--darkblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.navbar--active-content {
  color: var(--primary);
}
/* Navbar Styler Ends */

/* main page parent div */

/* Hero Section Style */
.hero--section {
  display: flex;
  flex-direction: column;
  padding: 133.333px 85.333px 133.333px;
  justify-content: space-between;
  /* gap: 32px; */
  background: url("../public/img/yoga2.png");
  background-position: center;
  background-size: cover;
  background-color: var(--bg-shade);
  height: 600px;
}
.hero--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* gap: 150px; */
}
.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  gap: 21.333px;
  justify-content: space-around;
  text-align: justify;
}
.hero--section--content--box > button {
  margin-top: 21.333px;
}
.hero--section--title {
  color: floralwhite;
  font-size: 90px;
  font-weight: 600;
  line-height: 90px;
  align-self: stretch;
}
.hero--section--title--color {
  font-family: headingFont;
  font-size: 180px;
  color: var(--bg-shade);
}
.hero--section-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: headingFont;
  font-size: 27px;
  color: var(--bg-shade);
  font-style: italic;
}
.hero--section-description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: rgb(17, 17, 16);
}
.hero--section--img {
  display: flex;
  opacity: 0.75;
}
.hero--section--img > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* Hero Section Style Ends */

/* Skills Section Style */
.skills--section {
  display: flex;
  padding: 149.33px 85.33px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 106.667px;
}
.skills--section--heading {
  color: var(--heading-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}
.skills--section--container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 42.6px;
  grid-template-columns: repeat(4, 1fr);
}
.skills--section--card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 10.6px;
  background: var(--bg-shade);
  min-height: 250px;
}
.skills--section--card:hover {
  border-bottom: 4px solid var(--primary);
}
.skills--section--card:hover .skills--section--description {
  color: var(--darkblue);
}
.skills--section--img {
  display: flex;
  padding: 13.3px;
  justify-content: center;
  align-items: center;
  gap: 13.3px;
  border-radius: 10.6px;
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}
.skills--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.skills--section--title {
  color: black;
  font-size: 25px;
  font-weight: 700;
  line-height: 45px;
}
.skills--section--description {
  color: var(--black);
  font-size: 21.3px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
/* Skills Style Ends */

/* Contact Section starts*/
.contact--section {
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  padding: 0px 85px;
  margin: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 64px;
}

.contact--section-heading {
  font-family: headingFont;
  padding-top: 20px;
}
.contact--section--heading-bottom {
  font-weight: bold;
  color: var(--button-color);
}
.contact--section--lists {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.contact--section-items {
  max-width: 49%;
  min-width: 49%;
  margin-bottom: 40px;
}
.contact--item-heading {
  font-family: headingFont;
  color: var(--button-color);
  font-size: 25px;
}
.contact--item-info {
  font-family: contentFont;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 22px;
}

/* Contact Section ends*/

/* About Us */
.about--section {
  display: grid;
  padding-top: 133.3px;
  padding-bottom: 0px;
  padding-right: 85.3px;
  padding-left: 85.3px;
  align-items: self-start;
  gap: 114.6px;
  grid-template-columns: repeat(2, 1fr);
}
.about--section--img {
  padding-left: 50px;
  display: grid;
  width: 860px;
  height: 880px;
  border-radius: 20px;
}
.about--section--img > img {
  width: 100%;
  height: 100%;
}
/* About Us Ends */

/* Journey Section */
.journey--section {
  display: grid;
  padding-top: 133.3px;
  padding-bottom: 0pxpx;
  padding-right: 85.3px;
  padding-left: 85.3px;
  align-items: start;
  gap: 114.6px;
  grid-template-columns: repeat(2, 1fr);
}
.journey--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
  text-align: justify;
}
.journey--section--img {
  display: flex;
  height: 80%;
  width: 100%;
  padding-bottom: 70px;
  background: url("../public/img/yoga3.png");
  background-position: center;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
}
.journey--section--button {
  background-color: var(--button-color);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 6px;
  transition-duration: 0.3s;
}
.journey--section--button:hover {
  cursor: pointer;
  background-color: antiquewhite;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Journey Us Ends */

/* my-journey starts */
.my--journey--section {
  background-color: var(--bg-shade);
  padding: 133.333px 200px;
}
.my--journey--content--box {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.my--journey--heading {
  font-family: headingFont-semiBold;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.my--journey--content--with--photos > p,
.my--journey--content {
  font-family: contentFont;
  color: #5e4d41;
  font-size: 26px;
  font-weight: 250;
  margin-bottom: 20px;
  text-align: justify;
  /* 
  column-width: 4%;
  column-gap: 50px;
  column-count: 2; */
}
.my--journey--info {
  display: flex;
  flex-direction: column;
  font-family: contentFont;
  padding-right: 30px;
  color: #5e4d41;
  font-size: 28px;
  font-weight: 250;
  margin-bottom: 20px;
  text-align: justify;
  max-width: 50%;
}
.my--journey--info--vipasana {
  font-family: contentFont;
  padding-left: 30px;
  color: #5e4d41;
  font-size: 28px;
  font-weight: 250;
  margin-bottom: 20px;
  text-align: justify;
  max-width: 50%;
}
.my--journey--content--with--photos {
  font-family: contentFont;
  color: #5e4d41;
  font-size: 25px;
  font-weight: 250;
  margin-bottom: 20px;
  text-align: justify;
}
.my--journey--content--gandhi {
  font-family: contentFont;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #5e4d41;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
}
.my--journey--photos {
  float: right;
  max-height: 100%;
  max-width: fit-content;
  margin: 20px 0px;
  padding: 10px 10px;
  background-color: var(--bg-shade);
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 20px;
  scroll-snap-type: x proximity;
  scroll-padding-left: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.my--journey--content--with--photos > .my--journey--photos {
  max-height: 100%;
  max-width: 50%;
  margin: 0px 20px;
  padding: 10px 10px;
  background-color: var(--bg-shade);
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 20px;
  scroll-snap-type: x proximity;
  scroll-padding-left: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.my--journey--photos img {
  max-width: 600px;
  max-height: 500px;
  scroll-snap-align: start;
  border-radius: 10px;
}
.my--journey--ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.my--journey--photos--nepal {
  max-height: 100%;
  max-width: fit-content;
  padding: 10px 10px;
  background-color: var(--bg-shade);
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 20px;
  scroll-snap-type: x proximity;
  scroll-padding-left: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.my--journey--photos--nepal img {
  max-width: 600px;
  max-height: 600px;
  scroll-snap-align: start;
  border-radius: 10px;
}

/* my-journey-ends */

.courses--section {
  padding: 133.333px 70px;
}

.courses--content--box {
  background-image: url("../public/img/yoga-background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  font-weight: 300;
}
/* .courses--content--child {
  min-width: 40%;
  max-width: 48%;
} */

.courses--content--holder {
  display: flex;
  flex-wrap: wrap;
}
.courses--heading {
  border-radius: 70px;
  text-align: center;
  font-family: "Protest Riot", cursive;
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 40px;
}
.course--section--title {
  padding: 15px 8px;
  border-radius: 20px;
  width: fit-content;
  margin-top: 20px;
}
.courses--content {
  font-size: 28px;
  font-weight: 230;
  margin-bottom: 20px;
  /* text-align: justify; */
  line-height: 1.5;
}
.courses--quote {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  font-style: italic;
  border-radius: 15px;
  background-color: var(--button-color);
  padding: 50px 100px;
  margin-bottom: 20px;
  text-align: center;
}
.courses--details {
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 20px;
  color: black;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.5;
}
.courses--details--sound {
  column-count: 2;
}
.courses--heading--nutrition {
  /* background-size: cover; */
  display: flex;
  color: white;
  height: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url("../public/img/nutrition-banner.jpg");
}
.courses--details--nutrition {
  column-count: 2;
  column-width: 48%;
  column-gap: 50px;
  text-align: justify;
}
.courses--section--title--nutrition {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.courses--details--yoga-firstline {
  width: 100%;
  text-align: center;
  align-items: center;
}
.courses--photos {
  max-width: fit-content;
  border-style: solid;
  border-radius: 10px;
  border-color: var(--button-color);
  padding: 10px 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 20px;
  scroll-snap-type: x proximity;
  scroll-padding-left: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.courses--photos img {
  max-width: 600px;
  height: 400px;
  scroll-snap-align: start;
  border-radius: 10px;
}

/* My Portfolio Starts */
.portfolio--section {
  display: flex;
  padding: 112px 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}
.portfolio--section--container {
  display: inline-flex;
  align-items: self-start;
  justify-content: center;
  gap: 42.6px;
  width: 100%;
}
.portfolio--section--img {
  border-radius: 8px;
  width: 100%;
  max-height: 50%;
  padding-bottom: 0px;
}
.portfolio--section--img > img {
  width: 100%;
}
.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  background: var(--bg-shade);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}
.portfolio--section--card:hover {
}
.portfolio--section--card--content {
  display: flex;
  width: 100%;
  padding-top: 0px;
  /* padding-left: 32px;
  padding-right: 32px; */
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 32px;
  /* align-self: stretch; */
}
.portfolio--section--heading {
  padding-bottom: 10px;
}
.portfolio--section--title {
  color: var(--button-color);
  padding-bottom: 5px;
}
.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
}
.portfolio--section--card:hover path {
  stroke: #006b6a;
}

.portfolio--section--button {
  background-color: var(--button-color);
  width: 80%;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 6px;
  transition-duration: 0.3s;
}
.portfolio--section--button:hover {
  background-color: antiquewhite;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* Portfolio Ends */

/* Testimonial */
.testimonial--section {
  display: flex;
  padding: 112px 84.3px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background-color: var(--bg-shade);
}
.sections--heading {
  color: var(--heading-color);
}
.testimonial--section--card {
  display: flex;
  padding: 42.6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42.6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.33px solid #006b6a;
}
.testimonial--section--card--reviews {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
}
.testimonial--section--card--author--detail {
  display: flex;
  align-items: center;
  gap: 21.3px;
}
.testimonial--author--name {
  font-weight: 600;
  color: var(--heading-color);
}
.testimonial--author--designation {
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
/* Testimonial Ends */
/* .contact--section {
  display: flex;
  padding: 150px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 64px;
} */
.contact--form--container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  width: 40%;
  row-gap: 32px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 32px;
  row-gap: 32px;
}
.contact--label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10.6px;
  flex: 1 0 0;
  width: 100%;
}
.contact--input {
  display: flex;
  font-family: "Roboto";
  padding: 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1.333px solid var(--primary);
  background: var(--white);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fillRule="evenodd" clipRule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
    white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fillRule="evenodd" clipRule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
    white no-repeat calc(100% - 20px); /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand {
  display: none;
}
.checkbox--label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10.6px;
  flex: 1 0 0;
  justify-content: flex-start;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
  border: 0.15em solid var(--heading-color);
  border-radius: 0.15em;
  transform: translatey(-0.075em);
}
/* Contact End */

/* Footer Start */
/* Footer Starts */
.footer--container {
  display: flex;
  padding: 30px 85.333px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--bg-shade);
  align-items: center;
  align-self: stretch;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.footer--link--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}
.footer--items ul > li > a {
  text-decoration: none;
}
.footer--social--icon > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  text-decoration: none;
}
.divider {
  margin: 106px 0 42.67px;
  height: 1.333px;
  width: 100%;
  background: rgba(40, 41, 56, 0.55);
}
.footer--content--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer--content {
  color: var(--black);
  font-size: 18.667px;
  font-weight: 400;
  line-height: 28px;
}

/* Responsive Screens */
@media only screen and (max-width: 600px) {
  .hero--section {
    max-width: 100%;
  }
  .hero--section--title {
    font-size: 30px;
    line-height: 40px;
  }
  .hero--section--title--color {
    max-width: 100%;
    font-size: 120px;
    color: var(--bg-shade);
  }
  .hero--section-description {
    font-size: 20px;
    line-height: 18px;
  }
  .skills--section--title {
    font-size: 28px;
    line-height: 40px;
  }
  .about--section {
    max-width: 100%;
    display: flex;
    padding-top: 133.3px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: self-start;
    gap: 20px;
    /* grid-template-columns: repeat(2, 1fr); */
  }

  .hero--section--content-quote {
    font-size: 10px;
    color: black;
  }
  .journey--section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    gap: 20px;
  }
  .journey--section--content {
    padding: 0px;
    margin: 0px;
    align-items: center;
  }
  .journey--section--img {
    padding-top: 0px;
    margin-top: 0px;
    height: 400px;
    width: 100%;
  }
  .portfolio--section {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
  }
  .portfolio--container-box {
    justify-content: center;
  }
  .my--journey--section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .courses--section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }
  .hero--section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .hero--section--title,
  .hero--section-description,
  .footer--content {
    text-align: center;
  }
  .hero--section--title--color {
    color: var(--bg-shade);
  }
  .skills--section--container,
  .about--section,
  .journey--section,
  .portfolio--section--container,
  .portfolio--container-box,
  .footer--link--container,
  .footer--items > ul,
  .footer--content--container {
    display: flex;
    flex-direction: column;
  }
  .journey--section--content {
    align-items: center;
  }
  .journey--section--img {
    padding-top: 0px;
    margin-top: 0px;
    height: 400px;
    width: 100%;
  }
  .skills--section,
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
    color: white;
  }
  .hero--section--content {
    align-items: center;
  }
  .portfolio--container-box {
    gap: 30px;
  }
  .skills--section,
  .testimonial--section,
  .contact--section,
  .footer--container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about--section,
  .myjourney--section {
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .testimonial--section--card {
    padding: 25px;
  }
  .hero--section--title,
  .skills--section--heading,
  .sections--heading {
    font-size: 35px;
    line-height: 40px;
  }
  .hero--section--content--box {
    gap: 10px;
  }
  .contact--form--container {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer--social--icon > ul,
  .footer--items > ul {
    padding: 0;
    align-items: center;
  }
  .divider {
    margin: 20px;
  }
}

@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 68px;
    line-height: 70px;
  }
  .skills--section--title {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .skills--section--heading {
    font-size: 54px;
    line-height: 70px;
  }
  .skills--section--container {
    gap: 16px;
  }
  .skills--section--card {
    gap: 28px;
  }
  .skills--section--card--content {
    gap: 20px;
  }
  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }
  .skills--section--description {
    font-size: 17.333px;
    line-height: 27px;
  }
}

/* Hamburger menu  */

.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}

/* Responsive Screens Ends*/
